      {% extends "layout.html" %}
      {% block content %}
       <section id="sobre_mi">
      <h2>Sobre Mi</h2>
      <div>
        <img
          class="imgPerfil"
          src="static/imagenes/perfil.jpg"
          alt="Perfil"
          title="Mi foto de perfil"
        />
      </div>
      <h1 class="nombre">Max <span class="apellido">Camara</span></h1>
      <h2 class="subt">Programador en proceso</h2>
      <div class="subt">
        <p>
          ipsum dolor sit amet consectetur adipisicing elit. Fugit, debitis
          blanditiis. Consequuntur, fugit? Omnis, sit eos quia excepturi
          eligendi cumque nesciunt eius sunt tempore, architecto, repellendus
          hic ut odio repellat!
        </p>
      </div>
 <!-- card-->
    <div class="card">
      <img src="static/imagenes/perfil.jpg" class="card-img-top" alt="Foto de la Tarjeta">
    
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" aria-hidden="true">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
  </section>   
    <!--Carrousel-->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr />
    {% endblock %}
